.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.cover-image {
  margin-bottom:10px;
}

.inlineError {
  color: #f44336;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Override */
body {
  background-color: #141a32;
  color: #fff;
}

.ui.menu {
  background-color: #22326b !important;
  border-color: #22326b !important;
}

.ui.menu .item {
  color: #fff;
}

.ui.menu .active.item {
  background-color: #182140;
  color: #fff;
}

.ui.link.menu .item:hover, .ui.menu .dropdown.item:hover, .ui.menu .link.item:hover, .ui.menu a.item:hover,
.ui.menu .active.item:hover{
  background-color: #202b50;
  color: #fff;
}

.ui.mini.image, .ui.mini.images .image {
  width: 50px;
}

.ui.card, .ui.cards>.card {
  background-color: #22326b;
  box-shadow: 0 1px 3px 0 #22326b, 0 0 0 1px #22326b;
}


.ui.card>.content>.header,
.ui.form .field>label,
.ui.button {
  color: #fff;
}

@media only screen and (max-width: 767px) {
  .ui.menu>.ui.container {
      overflow-x: auto;
  }
}

.ui.inverted.segment, .ui.primary.inverted.segment {
  background-color: #22326b;
}